<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.web.mappers.reply.replyMapper">
    <select id="list"  resultMap="ReplyResultMap">
    	select reply_no,article_no,reply_text,reply_writer,reg_date,update_date from reply
    		where article_no = #{article_no} order by reply_no desc
    </select>
    <insert id="create">
    	insert into reply(article_no,reply_text,reply_writer) values(#{article_no},#{reply_text},#{reply_writer})
    </insert>
    <update id="update">
    	update reply set reply_text=#{reply_text}, update_date=now()
    		where reply_no=#{reply_no}
    </update>
    <delete id="delete">
    	delete from reply where reply_no=#{reply_no}
    </delete>
    <select id="listPaging" resultMap="ReplyResultMap">
    	select reply_no,article_no,reply_text,reply_writer,reg_date,update_date from reply
    		where article_no=#{article_no} order by reply_no desc limit #{criteria.pageStart}, #{criteria.perPageNum}    		 
    </select>
    <select id="countReplies" resultType="int">
    	select count(article_no) from reply where article_no=#{article_no}
    </select>
    
    <resultMap id="ReplyResultMap" type="ReplyVO">
        <id property="reply_no" column="reply_no"/>
        <result property="article_no" column="article_no"/>
        <result property="reply_text" column="reply_text"/>
        <result property="reply_writer" column="reply_writer"/>
        <result property="reg_date" column="reg_date"/>
        <result property="update_date" column="update_date"/>
    </resultMap>

    <resultMap id="ArticleResultMap" type="ArticleVO">
        <id property="article_no" column="article_no"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="writer" column="writer"/>
        <result property="regDate" column="regdate"/>
        <result property="viewCnt" column="viewcnt"/>
    </resultMap>
</mapper>
